* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width:  600px;
    height: 300px;
}

body {
    background: url(../img/tech.jpg);
}

figure {
    border: grey;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 612px;
    margin: auto;
}


figcaption {
    background-color: indigo;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    margin: auto;
    text-align: center;
}

details {
    border: 1px solid blue;
    border-radius: 4px;
    text-align: center;
    width: 600px
}

summary {
    font-weight: bold;
    padding: .5em;
    text-align: center;
    width: 600px;
}

details[open] {
    text-align: center;
    width: 600px;
}

details[open] summary {
    border-bottom: px solid blue; 
    text-align: center;
    width: 600px;
}


.topnav {
    overflow: hidden;
    background-color:black;
  }
  
  .topnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:blue;
  }

body {
    margin: 0;
}