* {
    padding: 0;

    box-sizing: border-box;
}
.word {
    display: block;

}

.cosmo {
    display: flex;
    /* width: 50%; */
    justify-content: center;


}

#cosmo {
    width: 50%;
    height: 90%;
}



footer {
    
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    

}


.intro {
    text-align: center;

    
}

