* {
    padding: 0;

    box-sizing: border-box;
}
div img {
    display: block;
    width:  400px;
    height: 540px;
    margin: auto;
}

body {
    background-color: lightblue;
    
}

footer {
    
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    

}


.intro {
    text-align: center;

    
}

