/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  */
img {
    width:  300px;
    height: 300px;
}

.para {
    display: flex;
    justify-content: center;
    padding: 50px;
}





body {
    background: url(../img/web_2.jpg);


}



/* ul {
    display: flex;
    justify-content: center;
} */

/* 
body {
    margin: 0;
} */