body {
    background-image: url('images/siliconvalley.jpg');
    /* color: white; */
    /* font-size: large; */
    /* font-weight: 500; */
}
/* main { */
    /* background-color: black; */
    /* margin: 100%; */
    /* width: 700px; */
/* } */

img {
    display: block;
    margin: auto;
    padding: 5px;
}

.description {
    display: block;
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: black;
}