body {
    background-color: lightblue;
}
h1, h3 {
    text-align: center;
    color: black;
}

button {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    margin: 20px;
}


button {
    border: 3px solid rgb(0,0,0);
    font-family: cursive;
    font-size: large;
    background-color: lightgreen;


}
button:hover {
    background-color: green;
    border: 4px solid rgb(0,0,0);
    font-family: cursive;
    font-size: larger;
  
   }

   
img {
    width: 800px;
}