body {
    background-color: lightgrey;
}
h1 {
    text-align: center;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main {
    display: block;
    margin-right: auto;
    margin-left: auto;

}

figcaption {
    text-align: center;
}

#caption {
    font-size: 20px;
}

.writing {
    display: grid;
    justify-content: center;
    margin-left: 75px;
    margin-right: 75px;
    
}


.bottom {
    display: inline-block;
    text-decoration: none;
    font-size: small;
    margin: 10px;
  }
  
  .para {
    text-align: center;
  }
  
  .bottom:hover {
    color: green;
  }



  .flexing {
    display: flex;
    flex-wrap: nowrap;
    /* background-color: DodgerBlue; */
  }
  
  .flexing > div {
    /* background-color: #f1f1f1; */
    /* width: 20px; */
    /* margin: 100px; */
    text-align: center;
    /* line-height: 75px; */
    /* font-size: 30px; */
  }